/* CSS Document */

*{
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.clr{
	clear: both;	
}

.left{
	float: left;	
}

.input{
	padding: 3px;
	border: solid 1px #333;	
}

.button{
	font-size: 12px;
	padding: 3px;
	border: solid 1px #333;	
}

.boxA{
	width: 600px;
	height: 200px;
	padding: 10px;
	margin: 20px auto;
	border: solid 2px #F00;	
}

.boxA div{
	padding: 3px;	
}

.item{
	border: solid 1px #999;
	padding: 3px;
	margin-bottom: 5px;	
	display:block;
}


.bg01{
	background-color: #FF9;	
}

.bg02{
	background-color: #CFC;
}

.box{
	height: 130px;
	width: 100px;
	padding: 5px;
	margin: 5px 30px;
	border: 3px solid #090;	
	text-align: center;
	font-size: 20px;
}

.info{
	width: 600px;
	padding: 10px;
	margin: 20px auto;
	border: solid 2px #999;	
}








